<div class="container row">

    <div class="py-5" style="text-align:center;">
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
            alt="URL Link" width="200px;" />
    </div>
    <form method="POST" action="/">
        <div class="row mb-2">
            <input id="copytext" type="text" name="url" data-value="{{original_url}}" value="{{original_url}}"
                class="form-control" placeholder="Input URL here">
        </div>
        <div class=" row mb-2">
            <button class="btn btn-light" type="submit">Generate URL</button>
        </div>

        {{!-- show URL --}}

        <div class="alert alert-info row mb-2" role="alert">
            <span class="mr-2">Your shortened link is:</span>
            {{!-- {{#if shortened_url}}<p>{{shortened_url}}</p>{{/if}} --}}
            {{#if shortened_url}}<a href="{{original_url}}">{{ shortened_url }}</a>{{/if}}
        </div>


        {{!-- copy function --}}
        <script>
            function copy() {
                const URL = document.getElementById('copytext')
                //console.log(URL)
                const copyToText = URL.getAttribute('data-value')
                navigator.clipboard.writeText(copyToText)
            }
        </script>
        <div>
            <button class="copy btn btn-light row" onclick="copy()">Copy</button>
        </div>

        {{!-- <div class=" row mb-2">
            <input type="hidden" name="input" value="{{original_url}}" class="form-control">
            <button class="btn btn-light" type="submit">Copy</button>
        </div> --}}


        {{#if error}}
        <div class="row mb-2 alert alert-danger mt-5" role="alert">
            <span class="mr-2">{{ error }}</span>
        </div>
        {{/if}}

    </form>
</div>